

.some {
  background-image: url("./images/some-art.png");
}

/* RELIGIOUS */
.calm {
  background-image: url("./images/calm.jpg");\
}

.bountiful {
  background-image: url("./images/bountiful.png");\
}


/* NATURE */
.butterfly {
  background-image: url("./images/butterfly.png");
}

.hum {
  background-image: url("./images/hum.jpg");
}

.frog {
  background-image: url("./images/frog.jpg");\
}


/* ABSTRACT */
.explode {
  background-image: url("./images/explode.jpg");
}

.blob {
  background-image: url("./images/blob.jpg");\
}

.brynbow {
  background-image: url("./images/brynbow.png");\
}

.ugly {
  background-image: url("./images/ugly.png");\
}






.p1{
  background-image: url("./images/hatch.png");
}

.p2 {
  background-image: url("./images/hatch2.png");
}



.b1 {
  background-image: url("./images/squiggle 1.png");
}

.b2 {
  background-image: url("./images/squiggle 2.png");
}

.b3 {
  background-image: url("./images/squiggle 3.png");
}
