
@font-face {
  font-family: Shadows;
  src: url('./fonts/shadowsintolight/ShadowsIntoLight.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('./fonts/roboto/Roboto-Bold.ttf');
}

.pink {
  border: pink solid thin;
}

.purple {
  border: purple solid thin;
}

.bold {
  font-family: Roboto-Bold;
}

.shadow-text {
  font-family: Shadows;
}

.center {
  text-align: center;
}
@keyframes piece {
  0%   {transform: rotate(0deg); left:0px; top:0px;}
  30%  {transform: rotate(-30deg);left:12vw; top:5vw;}
  70%  {transform: rotate(45deg);left:6vw; top:15vw;}
  100% {transform: rotate(75deg);left:-5vw; top:25vw;}
}

@keyframes shadow {
  0%   {transform: rotate(0deg); left:0px; top:0px;}
  30%  {transform: rotate(-30deg); left:11vw; top:5.5vw;}
  70%  {transform: rotate(45deg); left:5.5vw; top:16vw;}
  100% {transform: rotate(75deg); left:-5vw; top:25vw;}
}

@keyframes drift {
  0%   {transform: translate(30%,0%)}
  25%  {transform: translate(20%,10%)}
  50%  {transform: translate(5%,0%)}
  75%  {transform: translate(-30%,-15%)}
  100% {transform: translate(-45%,-5%)}
}

@keyframes falling {
  0%   { top:0px;}
  50% { transform: top:150vh;}
  90% { transform: rotate(0deg);top:450vh;}
  100% { transform: rotate(0deg);top:500vh;opacity:0}
}
