html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  /* margin: 0px; */
  /* overflow:auto; */
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #fff;
  z-index: 0;
  position: relative;
  overflow-x:hidden;
  font-size: 14px; font-size: 1.4rem;
  font-size:1.25vw;
}

* {
  font-family: Roboto;
}


.written {
  font-family: Shadows;
  color: #345ec7;
  font-size: 3em;
}

.pattern {
  width: 100%;
  height: 150%;
  position: fixed;
  background-position: center;
  background-repeat: repeat;
  z-index: -10;
}

.header {
  background-image: url("./images/top - orig.jpg");
  width: 100%;
  height: 120vh;
  position: relative;
  padding:5vw;
  box-sizing: border-box;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 3em;
  color: #ffffff;
}

.some-art {
  position:absolute;top:40px;left:57vw;
}

.arrowBack{
  margin: 0px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  overflow: hidden;
}

.bottom {
  background-position: bottom;
  background-size: contain;
}

.category {
  width: 0px;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top:-50px;
  left: 35vw;
  opacity: .6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto-Bold;
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 8px black;
  transition: .8s;

  /* animation-name: category; */
  /* animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out; */
}

.cat-width {
  width: 50vw;
}

.category:hover {
  opacity: 1;
  transition: .5s;
}

.display {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed;
  background-position: cover;
  background-image: none;
  top: 0px !important;
  left: 0px;
  z-index: 30;
  transition: .5s;
  overflow: hidden;
  opacity: 1;
}

.between{
  width:100%;
  /* height:100px; */
  padding:10px;
  /* border: solid yellow thin; */
  margin: 0px;
  position: relative;
  box-sizing: border-box;
}

.circle {
  position: absolute;
  background-image: url("./images/circle.png");
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.piece {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  z-index: 10;
  animation-name: piece;

}

.shadow {
  width: 100px;
  height: 100px;
  background-color: #000;
  opacity: .4;
  position: absolute;
  transform: translateY(-100px);
  animation-name: shadow;
}

.a1 {
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.exp {
  margin: 10%;
  width: 80%;
  height: 50vh;
  border-radius: 10px;
}

.hidden {
  transform: scale(0);
  border: solid thick pink;
  position: absolute;
  border-radius: 400px;
  opacity: 0;
}

.expanded {
  transform: scale(1);
  background-color: white;
  border: solid thick orange;
  position: absolute;
  opacity: 1;
}

.trans {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in, width .2s;
}

.pic {
  width: 55vh;
  height: 45vh;
  padding: 10px;
  margin: 10px;
  padding:10px;
  /* background-color: #ffffff; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: solid #fff 20px;
}

.enlarge {
  width: 90vh;
  height: 90vh;
  position: fixed;
  background-position:50% 50%;  /* Sets reference point to scale from */
  background-size:cover;
  /* background-position: contain; */
  /* background-image: none; */
  top: 0vw !important;
  left: 0vw;
  z-index: 30;
  transition: .25s;
  /* overflow: hidden; */
  /* opacity: 1; */
}

.x {
  color:#345ec7;
  font-family:Roboto-Bold;
  float:right;
  transform:translateX(-20px);
  cursor: pointer;
  margin:10px;
}

.x:hover {
  opacity:.6;
}

.a-grad {
  position: relative;
  width: 10vw;
  height: 250px;
  background-color: #aeaeae;
  background-image: url("./images/gradient.jpg");
  background-size: 100% 100%;
}
.a-sq {
  position: relative;
  width: 10vw;
  height: 30vh;
  background-color: #aeaeae;
}

.a-elbow, .a-right, .a-left {
  position: relative;
  width: 17.6vw;
  height: 10vw;
  background-color: #aeaeae;
  z-index: 1;
}

.fat .a-sq{
  width:15.4vw;
}

.fat .a-elbow, .fat .a-right,  .fat .a-left {
  width:23vw;
}

.a-elbow {
  border-radius: 0 0 0 300px;
}
.a-elbow:before, .a-right:before, .a-left:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  /* top: 25%; */
  /* left: 20vw; */
  border-width: 0 7.5vw 10vw;
  border-style: solid;
  border-color: transparent transparent #aeaeae;
  transform: translate(10vw, -5vw) rotate(90deg);
  transform-origin: 50% 100%;
}

.fat .a-elbow:before, .fat .a-right:before{
  transform: translate(15vw, -5vw) rotate(90deg);
}

.a-left {
  transform: translateX(-7.6vw);
}

.a-left:before {
  border-color: transparent transparent #aeaeae;
  transform: translate(-7.4vw, -5vw) rotate(-90deg);
  /* transform-origin: 50% 100%; */
}

.a-diag, .a-str {
  width:10vw;
  height:45vw;
  border-radius: 300px 0 0 0;
  background-color: #aeaeae;
  transform:translateY(-10vw) rotate(-30deg);
  transform-origin: 10vw 10vw;
}

.a-diag:before, .a-str:before {
  content: "";
  position: absolute;
  border-width: 0 7vw 12vw;
  border-style: solid;
  border-color: transparent transparent #aeaeae;
  transform: translate(-9.0vw, 44vw) rotate(180deg);
  transform-origin: 75% 50%;
}

.a-str {
  width:10vw;
  height:25vw;
  border-radius: 0 0 0 0;
  transform:translate(-12vw, 18vw) rotate(60deg);
}

.a-str:before {
  border-width: 0 7vw 10vw;
  transform: translate(-9vw, 24vw) rotate(180deg);
}

.shortened {
  height:15vw;
  transition: .5s;
  position: relative;
}

.shortened:before {
  transform: translate(-9vw, 14vw) rotate(180deg);
}

.rotate{
  color: #ffffff;
  font-size: 3em;
  background-color: #345ec7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate:before{
  border-color: transparent transparent #345ec7;
}

.rotate:hover{
  background-color: #00f;
}

.rotate:hover:before{
  border-color: transparent transparent #00f;
}

.white, .white2 {
  width:10vw;
  height:300px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1));
}

.white2 {
  width:80vw;
  height:155px;
  left: 20vw;
  /* background-image: linear-gradient(185deg, rgba(255,255,255,0), rgba(255,255,255,.5)), linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1)); */
}

.half {
  width: 50%;
  float: left;
}

.info p {
  font-size:1.5em;
  padding:0px 3vw;
}

#tempImg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  margin:0;
  z-index:40;
  border: #fff solid 20px;
}

.instagram, .etsy {
  color: #fff;
  padding:20px;
  margin: 0px 15%;
  overflow: hidden;
  position: relative;
}

.instagram {
  background-image: linear-gradient(45deg, #fdd923, #f10102, #b500af);
}

.etsy {
  background-image: linear-gradient(45deg, #ffb894, #f06620, #f06620);
}

.info p {
  z-index: 2;
  position: relative;
}

.instaLogo, .etsyLogo {
  width: 80vh;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  z-index: 1;
  opacity: .1;

  animation-name: drift;
  animation-duration: 20s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.etsyLogo{
  /* background-size: contain; */
  opacity: .5;
  animation-direction: alternate-reverse;
  animation-delay: 1.5s;
  animation-duration: 22s;
}

button, .button{
  padding:20px;
  background-color: rgba(174,174,174,.5);
  color: #fff;
  font-size: 1.25em;
  border: #fff solid thick;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover, .button:hover{
  transition;.5s;
  background-color: rgba(200,200,200,.7);
}

button:active {
  border: #ccc solid thick;
}

.button{
  background-color: rgba(175,175,175,1);
}

.shift {
  /* transform:translateY(35vh); */
  margin-top: 35vh;
}

.arrowBack {
  padding-bottom: 10vh;
}

.falling {
  animation: falling;
  animation-duration: 6s;
  animation-delay: 1s;
}

.outer-modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10,35,108,0.7);
  display: none;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}

#mc_embed_signup{
  /* background:#fff;  */
  clear:left;
  /* font:14px Helvetica,Arial,sans-serif;  */
}

.modal-width {
  width: 75vw;
}

.narrow{
  display: none;
}

.q h1 {
  cursor: default;
}

.white-box {
  width: 85vw;
  font-size:1.5em;
  background-color: #fff;
  background:rgba(255,255,255,0.9);
  overflow: hidden;
}

.white-box h1 {
    font-size: 9em;
    position: absolute;
    transform: translate(-50%, -100%) rotate(-15deg);
    left: 20%;
    opacity: .15;
    top: 50%;

    animation-name: q-drift;
    animation-duration: 20s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.white-box p {
  padding:5vw;
}

.spacer {
  width:100%;
  height:50vh;
}

.hide-it {
  display: none;
}

.cut-off {
  overflow-y: hidden;
}

#ivf {
  padding: 10px;
  background-color: yellow;
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 2em;
  z-index: 1000;
  border-radius: 100px;
  transition: 1s;
}

.invisible {
  display: none;
}

.visible {
  display: block;
  animation-name: visible;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

/* /////////////////////////////// MEDIA QUERIES ///////////////////////////////////// */

@media only screen and (max-width: 1180px) {
  .header {
    height: 95vh;
  }
}

@media only screen and (max-width: 950px) {
  .hide-it {
    display: block;
  }

  .show-it {
    display: none;
  }

  .header {
    height: 60vh;
  }

  .header h1 {
    font-size: 1.25em;
   }

   .category {
     height: 25vh;
     opacity: 1;
   }

   .some-art {
     left:50vw;
   }

   .a-sq {
     height: 25vh;
   }

  .half {
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-size: 1.25em;
  }

  .half h1 {
    margin: 2px;
  }

  .instagram, .etsy {
    margin:0;
  }

  .shift {
    margin-top: 0px;
  }

  .short1{
    left: 60vw !important;
  }

  .short2{
    left: 40vw !important;
  }

  .short3{
    left: 60vw !important;
  }

  .short4{
    left: 40vw !important;
  }

  .short5{
    left: 60vw !important;
  }

  .short6{
    left: 40vw !important;
  }

  .phone {
    display: none;
  }

  .signup {
    background-image: url("./images/phone.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .modal-width {
    width: 90vw;
  }

  .signupp:before{
    background-image: url("./images/phone.jpg");
    background-color: rgba(255,255,255,.9);
    content: "";
     /* background-image: url('https://placekitten.com/1200/800'); */
     background-size: cover;
     position: absolute;
     top: 0px;
     right: 0px;
     bottom: 0px;
     left: 0px;
     opacity: 0.75;
  }

  .wide{
    /* display: none; */
  }

  .narrow{
    display: inline-block;
    font-size: 4em;
    line-height: 0em;
  }

  .q h1 {
    /* font-size: 4em; */
    line-height: 0em;
    cursor: pointer;
  }

  .q h1:hover {
    color: #aaa;
  }

  .q p {
    display: none;
  }

  body {
    font-size: 1.25em;
  }

  .cinco {
    text-shadow: 0 0 12px #ffffff;
    font-size: 4.5em;
  }

  button, .button{
    font-size: 1em;
  }

  .spacer{
    height:20vh;
  }

}

@media only screen and (max-width: 605px) {
  .rotate{
    font-size: 1.75em;
  }

}
