html { height: 100%; overflow:auto; }
body {
  height: 100%;
  margin: 0px;
  background-color: rgb(0,255,0);
}

@font-face {
  font-family: Shadows;
  src: url('./fonts/shadowsintolight/ShadowsIntoLight.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('./fonts/roboto/Roboto-Bold.ttf');
}

* {
  font-family: Roboto;
}

.pattern {
  width: 100%;
  height: 150%;
  position: fixed;
  background-position: center;
  background-repeat: repeat;
  /* background-size: cover; */
  z-index: -10;
}

.header {
  background-image: url("./images/top.jpg");
  width: 100%;
  height: 80vh;
  position: relative;
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #ffffff;
}

.p1{
  background-image: url("./images/hatch.png");
}

.p2 {
  background-image: url("./images/hatch2.png");
}

.arrowBack{
  width: 100%;
  height: 120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -20;
}

.b1 {
  background-image: url("./images/squiggle 1.png");
}

.b2 {
  background-image: url("./images/squiggle 2.png");
}

.b3 {
  background-image: url("./images/squiggle 3.png");
}

.between{
  width:100%;
  /* height:100px; */
  padding:10px;
  /* border: solid yellow thin; */
  margin: 0px;
  position: relative;
  box-sizing: border-box;
}

.circle {
  position: absolute;
  background-image: url("./images/circle.png");
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.piece {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  z-index: 10;
  animation-name: piece;

}

.shadow {
  width: 100px;
  height: 100px;
  background-color: #000;
  opacity: .4;
  position: absolute;
  transform: translateY(-100px);
  animation-name: shadow;
}

.a1 {
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes piece {
  0%   {transform: rotate(0deg); left:0px; top:0px;}
  30%  {transform: rotate(-30deg);left:12vw; top:5vw;}
  70%  {transform: rotate(45deg);left:6vw; top:15vw;}
  100% {transform: rotate(75deg);left:-5vw; top:25vw;}
}

@keyframes shadow {
  0%   {transform: rotate(0deg); left:0px; top:0px;}
  30%  {transform: rotate(-30deg); left:11vw; top:5.5vw;}
  70%  {transform: rotate(45deg); left:5.5vw; top:16vw;}
  100% {transform: rotate(75deg); left:-5vw; top:25vw;}
}

.exp {
  margin: 10%;
  width: 80%;
  height: 50vh;
  border-radius: 10px;
}

.hidden {
  transform: scale(0);
  border: solid thick pink;
  position: absolute;
  border-radius: 400px;
  opacity: 0;
}

.expanded {
  transform: scale(1);
  background-color: white;
  border: solid thick orange;
  position: absolute;
  opacity: 1;
}

.trans{
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in, width .2s;
}
