html {
  height: 100%;
  width: 100%;
  /* margin: 0px; */

  /* overflow:auto; */
}

body {
  height: 100%;
  margin: 0px;
  background-color: #fff;
  z-index: 0;
  position: relative;
}

* {
  font-family: Roboto;
}


.written {
  font-family: Shadows;
  color: #027;
  position: absolute;
  font-size: 3em;
}

.pattern {
  width: 100%;
  height: 150%;
  position: fixed;
  background-position: center;
  background-repeat: repeat;
  z-index: -10;
}

.header {
  background-image: url("./images/top.jpg");
  width: 100%;
  height: 120vh;
  position: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 100% auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: #ffffff;
}

@media only screen and (max-width: 1180px) {
  .header {
    height: 95vh;
  }
}

@media only screen and (max-width: 950px) {
  .header {
    height: 60vh;
  }
}

@media only screen and (max-width: 605px) {
  .header {
    height: 30vh;
  }
}

.arrowBack{
  width: 100%;
  margin: 0px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -20;
  float:left;
  /* border: purple solid thin; */
}

.arrowBack:after {
    clear: both;
}

.category {
  width: 50vw;
  height: 200px;
  background-position: center;
  background-size: 100% auto;
  position: absolute;
  top:-50px;
  left: 35vw;
  opacity: .6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto-Bold;
  font-size: 2em;
  color: #fff;
}

.category:hover {
  opacity: 1;
  transition: .5s;
}

.display {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-position: cover;
  background-image: none;
  top: 0px !important;
  left: 0px;
  z-index: 30;
  transition: .5s;
  overflow: hidden;
  opacity: 1;
}

.between{
  width:100%;
  /* height:100px; */
  padding:10px;
  /* border: solid yellow thin; */
  margin: 0px;
  position: relative;
  box-sizing: border-box;
}

.circle {
  position: absolute;
  background-image: url("./images/circle.png");
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.piece {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  z-index: 10;
  animation-name: piece;

}

.shadow {
  width: 100px;
  height: 100px;
  background-color: #000;
  opacity: .4;
  position: absolute;
  transform: translateY(-100px);
  animation-name: shadow;
}

.a1 {
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.exp {
  margin: 10%;
  width: 80%;
  height: 50vh;
  border-radius: 10px;
}

.hidden {
  transform: scale(0);
  border: solid thick pink;
  position: absolute;
  border-radius: 400px;
  opacity: 0;
}

.expanded {
  transform: scale(1);
  background-color: white;
  border: solid thick orange;
  position: absolute;
  opacity: 1;
}

.trans{
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in, width .2s;
}

.pic {
  width: 40vh;
  height: 40vh;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.x {
  color:#027;
  font-family:Roboto-Bold;
  float:right;
  transform:translateX(-20px);
}

.x:hover {
  opacity:.6;
}

#a-grad {
  position: relative;
  width: 15.4vw;
  height: 250px;
  background-color: #aeaeae;
  background-image: url("./images/gradient.jpg");
  background-size: 100% 100%;
}
#a-sq {
  position: relative;
  width: 15.4vw;
  height: 200px;
  background-color: #aeaeae;
}

#a-elbow, #a-right {
  position: relative;
  width: 23vw;
  height: 100px;
  background-color: #aeaeae;
}

#a-elbow {
  border-radius: 0 0 0 300px;
}

#a-elbow:before,#a-right:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  /* top: 25%; */
  left: 20vw;
  border-width: 0 75px 100px;
  border-style: solid;
  border-color: transparent transparent #aeaeae;
  transform: rotate(90deg);
  /* transform-origin: 100% 100%; */
}
